antlr4-python3-runtime==4.9.3
apex==0.1
astroid==2.11.7
attrs==22.1.0
bitarray==2.6.0
black==22.3.0
boto3==1.24.59
botocore==1.27.59
certifi==2022.6.15
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.1.0
colorama==0.4.5
coverage==6.4.4
Cython==0.29.32
dill==0.3.5.1
distlib==0.3.5
docutils==0.19
et-xmlfile==1.1.0
-e git+https://github.com/facebookresearch/fairscale.git@2ec5c5e141e7ccac88247244306d975b423d95ce#egg=fairscale
-e git+https://github.com/facebookresearch/fairseq.git@f87107c321c46b2263a988a006460b8af4e7c790#egg=fairseq
filelock==3.8.0
flit==3.7.1
flit-core==3.7.1
hydra-core==1.2.0
identify==2.5.3
idna==3.3
importlib-resources==5.9.0
iniconfig==1.1.1
isort==5.10.1
jmespath==1.0.1
joblib==1.1.0
lazy-object-proxy==1.7.1
lxml==4.9.1
mccabe==0.7.0
-e git+https://github.com/NVIDIA/Megatron-LM.git@42c1cf4279acea5a554500dcb552211f44cbec45#egg=megatron_lm
mock==4.0.3
mypy==0.971
mypy-extensions==0.4.3
nodeenv==1.7.0
numpy==1.23.2
omegaconf==2.2.2
openpyxl==3.0.10
packaging==21.3
pathspec==0.9.0
Pillow==9.2.0
platformdirs==2.5.2
pluggy==1.0.0
portalocker==2.5.1
pre-commit==2.20.0
py==1.11.0
pybind11==2.10.0
pycparser==2.21
pylint==2.14.5
pyparsing==3.0.9
pytest==7.1.2
pytest-asyncio==0.19.0
pytest-console-scripts==1.3.1
pytest-cov==3.0.0
pytest-mock==3.8.2
python-dateutil==2.8.2
PyYAML==6.0
regex==2022.8.17
requests==2.28.1
s3transfer==0.6.0
sacrebleu==2.2.0
scikit-learn==0.24.1
scipy==1.6.1
sentencepiece==0.1.97
six==1.16.0
-e git+https://github.com/facebookresearch/stopes.git@3d68da1aeddc32aa87284fde19290472645d0a0d#egg=stopes
submitit==1.4.5
subword-nmt==0.3.8
tabulate==0.8.10
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
tomli-w==1.0.0
tomlkit==0.11.4
torch==1.10.1+cu113
torchaudio==0.10.1+cu113
torchvision==0.11.2+cu113
tqdm==4.64.0
translate-toolkit==3.7.2
types-emoji==2.0.1
typing-extensions==4.3.0
urllib3==1.26.12
virtualenv==20.16.3
wrapt==1.14.1
zipp==3.8.1
